@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import "../../utils/variables";

.dropdown {
  width: 100%;
  height: $dropdown-size-mobile;
  margin-top: $banner-size-mobile;
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 2;

  //Animation properties
  background: rgb(220, 220, 220);
  background: linear-gradient(
    180deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(255, 255, 255, 1) 12%
  );
  transition: all 0.5s linear;
  opacity: 1;

  .options-container {
    ul {
      list-style-type: none;
      padding-top: 2vh;

      li {
        button {
          margin: 0;
          padding: 0;
          cursor: pointer;

          h3 {
            font-family: $font-family-primary;
            color: $font-color-dark;
            font-weight: 400;
            font-size: 1.5rem;
            margin-top: 4vh;
          }
        }
      }
    }
  }
}

.falseShowMenu {
  transform: translate(200%);
}

@media (min-width: 768px) {
  .dropdown {
    height: $dropdown-size-web;
    margin-top: $banner-size-web;

    .options-container {
      margin-top: 2vh;

      ul {
        li {
          button {
            h3 {
              font-size: 3rem;
              margin-bottom: 2vh;
            }
          }
        }
      }
    }
  }

  .falseShowMenu {
    transform: translateY(-200%);
    opacity: 0;
  }
}
