$regular: Montserrat Regular;
$medium: Montserrat Medium;
$font-color: white;

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/home.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

h2 {
  font-family: $medium;
  color: $font-color;
  font-size: 3rem;
}

p {
  font-family: $regular;
  color: $font-color;
  font-size: 1.5rem;
  margin-top: 5vh;
}

button {
  margin-top: 20vh;
  font-size: 1.5rem;
  font-family: $regular;
  background-color: $font-color;
  padding: 2vw 5vw 2vw 5vw;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  button {
    padding: 1vw 3vw 1vw 3vw;
  }
}
