//Font variables
$font-family-primary: "Montserrat", sans-serif;
$font-color-light: white;
$font-color-dark: black;
$border-color: white;

//Layout variables
$banner-size-mobile: 12vh;
$banner-size-web: 15vh;
$container-size-mobile: 65vh;
$container-size-web: 65vh;
$dropdown-size-mobile: 45vh;
$dropdown-size-web: 60vh;

//Animation variables
$frontend-translate-mobile: -15vw;
$backend-translate-mobile: 25vw;
$databases-translate-mobile: -10vw;
$testing-translate-mobile: 30vw;
$management-translate-mobile: -10vw;

$frontend-translate-web: -20vw;
$backend-translate-web: 20vw;
$databases-translate-web: -20vw;
$testing-translate-web: 20vw;
$management-translate-web: -20vw;