.social-media {
  display: flex;
  width: 90%;
  margin-top: 10vh;

  a {
    img {
      height: 5vh;
    }
  }
}

@media (min-width: 768px) {
  .social-media {
    width: 30%;

    a {
      img {
        height: 7vh;
      }
    }
  }
}
