.social-media {
  list-style-type: none;
  display: flex;
  width: 90%;
  margin-top: 10vh;

  li {
    a {
      img {
        height: 5vh;
      }
    }
  }
}

@media (min-width: 768px) {
  .social-media {
    width: 30%;
    li {
      a {
        img {
          height: 7vh;
        }
      }
    }
  }
}
